<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TagItController</title>
</head>
<body>
    <div id="tag"></div>
    <script src="~/js/tag.js"></script>
</body>
</html>
